nav.navigation {
    background-color:#373f52;
    color: white;
    border-right: none;
    padding-top: 100px;
    margin-top:0px;
}

/* For left side links */
.navigation span span > a {
    color: white;
    font-weight: 100;
    line-height: 1.7;
    font-size: 13px;
    margin-left:2px;
}

.navigation span span > a:hover {
    color: #b7a3f7;
    /* background-color: white; */
}

.navigation .nav-dir-path {
    color: white !important;
    font-size: 11px !important;
    line-height: 1.5;
    margin-top: 20px !important;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.6) !important;
    font-weight: 100;
    text-transform: uppercase;
}

header a {
    color:black;
}

input.search-input {
    border-bottom: 1px solid grey;

}


span.search-input-edge {
    opacity: 0;

}

header {
    border-bottom: none !important;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.12);
    padding: 20px !important;
    text-transform: uppercase;
}

.content {
    padding-top:70px
}

.search-box {
    padding-right: 30px;
}

.kind-class, .kind-interface, .kind-function, .kind-typedef, .kind-variable, .kind-external {
    margin-left: 0px !important;
}

.kind-class {
    color: #82879c;
    background-color: #534c79;
}

.kind-function{
    color: #bb87ce;
    background-color: #716275;
}

.kind-variable {
    color: #b77c5d;
    background-color: #7b5c4c;
}

a {
    color: #6266e6;
}
a:hover {
    color: #b7a3f7;
    /* background-color: white; */
}


span.access, span.override {
    color: black !important;
}

table.summary td {
    border: solid 1px #dbd8de;
    padding: 4px 10px;
}

table.summary thead, table.params thead {
    background: rgb(55, 63, 82);
    color: rgb(155, 165, 179) !important;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
}

td.return-type {
    text-transform: inherit;
    letter-spacing: 0px;
    font-size: 15px !important;
}
tbody td:first-child {
    color: black;
}

table.summary tbody td:nth-child(1) {
    text-align: left;
    white-space: nowrap;
    min-width: 64px;
    vertical-align: top;
}