nav.navigation {
    background-color:#373f52;
    color: white;
}

span a {
    color: white;
}

.nav-dir-path {
    color: white !important;
    font-size: 14px !important;
    line-height: 1.5;
    margin-top: 35px;
    font-weight: 100;
    text-transform: uppercase;
}

header a {
    color:black;
}

input.search-input {
    border-bottom: 1px solid grey;

}


span.search-input-edge {
    opacity: 0;

}
